body {
	font-family: $font_inter;
}
h1 {
	font-size: rem(52);
}
h2 {
	font-size: rem(36);
}
h3 {
	font-size: rem(30);
}
p {
	font-size: rem(12);
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	margin: 0;
	padding: 0;
}
img {
	width: rem(338);
	height: rem(48);
}

input{
	min-width: 211px;
	border-radius: 8px;
	border: 1px solid var(--c-s);
	color: var(--c-s);
	padding: $spacing-3;
	outline: none;
	
	&:focus{
		border: 1px solid var(--c-p);
		color:(var(--c-p));

		&::placeholder{
			color: var(--c-p)
		}


	}
	&:not(:placeholder-shown):not(:focus){
		border: 1px solid black;
		color: black;
	}
	
}

button {
	font-size: rem(12);
	font-weight: bold;
	border: none;
	border-radius: $radius-8;
	padding: $spacing-3 $spacing-3-5;
	cursor: pointer;
}