[comp="btn"]{
	position: relative;
	transition: all 300s ease;
	font-size: rem(12);
	overflow: hidden;
	user-select: none;
	padding: 0;

	> .ripple {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: transparent;
		transition: all 300ms;
		padding: map-get($spacings, 3) map-get($spacings, 3.5);

		&:hover {
			background: rgba(255,255,255,0.1);
		}

		> .circle {
			position: absolute;
			transform: translate(-50%, -50%);
			opacity: 0;
			width: 0;
			height: 0;
			border-radius: 50%;
			background: rgba(255, 255, 255, .25);

			&.active{
				animation: ripple 400ms ease-in;
			}
		}

		> p {
			position: relative;
		}
	}
}

@keyframes ripple {
	0% {
	  	opacity: 0;
	}
	25% {
	  	opacity: 1;
	}
	100% {
		width: 200%;
		padding-bottom: 200%;
		opacity: 0;
	}
  }