.card{
	display: flex;
	flex-direction: column;
	padding: map-get($spacings, 3);
	gap: map-get($spacings, 3);
	max-width: 420px;

	> div {
		display: flex;
		gap: map-get($spacings, 3);
		user-select: none;

		> :nth-child(1){
			height: 56px;
			width: 56px;
			aspect-ratio: 1/1;
			flex-shrink: 0;
			border-radius: 999px;
			overflow: hidden;
			display: flex;
			align-items: center;
			
			> img {
				height: 100%;
			}
		}

		> :nth-child(2){
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: map-get($spacings, 2) 0;
			overflow: hidden;
			flex-grow: 1;

			h1{
				font-size: rem(18);
				font-weight: 500;
				text-overflow: ellipsis;
				max-width: 100%;
				overflow: hidden;
				white-space: nowrap;
				color: var(--c-d);
			}

			h2{
				font-size: rem(16);
				font-weight: 400;
				text-overflow: ellipsis;
				max-width: 100%;
				overflow: hidden;
				white-space: nowrap;
				color: var(--c-s);
			}
		}
	}

	> p {
		font-size: rem(16);
		color: var(--c-d);
	}
}