.form {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: rem(24);
	width: 60%;

	>input {
		grid-column: span 2 / span 2;
	}

	>label {
		grid-column: span 1 / span 1;
		align-self: center;
	}

	>textarea {
		font-size: rem(16);
		font-family: $font_inter;
		border-radius: 8px;
		border: 1px solid var(--c-s);
		grid-column: span 2 / span 3;
		padding: map-get($spacings, 3);

		min-height: 200px;
		min-width: 320px;
		max-width: 320px;
		resize: vertical;

		&:focus {
			border: 1px solid var(--c-p);
			color: (var(--c-p));

			&::placeholder {
				color: var(--c-p)
			}
		}

		&:not(:placeholder-shown):not(:focus) {
			border: 1px solid black;
			color: black;
		}
	}

	>.message-label {
		grid-column: span 1 / span 1;
		align-self: start;
		display: contents;
	}

	>button[type="submit"] {
		grid-column-start: 3;
		background-color: var(--c-d);
		color: var(--c-l);
		align-self: self-end;
	}
}