[comp="text-input"]{
	position: relative;

	> input {
		padding: map-get($spacings, 2);
		border-radius: 4px;
	}

	> label {
		position: absolute;
		left: map-get($spacings, 2);
		padding: 0 map-get($spacings, 1);
		transition: all 200ms;
		top: 50%;
		transform: translateY(-50%);
		background: white;
		color: var(--c-s);

		&.focused{
			top: 0%;
			font-size: 0.8em;
			color: var(--c-p);
		}

		&.stay:not(.focused){
			top: 0%;
			font-size: 0.8em;
			color: var(--c-d);
		}
	}
}