<footer class="p-4 footerbar flex justify-center">
	<div class="content">
		<div class="flex linkbloc">
			<div class="flex flex-col gap-y-3">
				<p class="bold">Getting Started</p>
				<a href="/docs.html#installation"><p>Installation</p></a>
				<a href="/docs.html#installation"><p>Usage</p></a>
				<a href="/docs.html#components"><p>Examples</p></a>
			</div>
			<div class="flex flex-col gap-y-3">
				<p class="bold">Resources</p>
				<a href="/docs.html"><p>Documentation</p></a>
				<a href="#"><p>API Reference</p></a>
				<a href="#"><p>FAQ</p></a>
			</div>
			<div class="flex flex-col gap-y-3">
				<p class="bold">Community</p>
				<a href="https://github.com/mathcovax/Challenge-Stack"><p>GitHub</p></a>
				<a href="#"><p>Forums</p></a>
				<a href="#"><p>Blog</p></a>
			</div>
			<div class="flex flex-col gap-y-3">
				<p class="bold">Contact</p>
				<a href="#"><p>contact@wing.js</p></a>
				<a href="#"><p>01 56 06 90 41</p></a>
				<a href="#"><p>242 Rue du Faubourg Saint-Antoine, 75012 Paris</p></a>
			</div>
		</div>
		<hr class="my-4">
		<img class="footer-logo" src="./assets/Logo_3.png" alt="logo-footer">
	</div>
</footer>

<script>
const footerbar = new Component("footerbar");
footerbar.inner(inner);
</script>

<style>
.footerbar{
	width: 100%;
}

.footerbar .content{
	max-width: 1500px;
	width: 1500px;
}

.footerbar .linkbloc{
	gap: 15%;
}
</style>