.code {
	tab-size: 30px;
	background-color: #000;
	font-weight: 400;
	color: #fff;
	overflow: hidden;

	.tag {
		color: #e712eb;
		font-weight: bold;
	}

	.quote {
		color: #0ea5e9;
	}

	.bracket {
		color: #fff;
	}

	.attribute {
		color: #999999;
	}
}