.code{
	tab-size: 30px;
	background-color: #000;
	font-weight: 400;
	color: #fff;

	.tag{
		color: #e712eb;
	}

	.quot{
		color: #0ea5e9;
	}

	.chevron{
		color: #fff;
	}

	.attribut{
		color: #999999;
	}
}