.docs--{
	&main{
		width: 100%;
		height: 100%;
		max-width: 1510px;

		padding-top: 72px;
		padding-left: 10px;

		gap: 120px;
		display: flex;
		position: absolute;
		justify-content: center;
		overflow: hidden;
	}

	&sidebar {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	&content {
		padding-bottom: 72px;
		overflow-y: auto;
		flex-grow: 1;
	}

	&splitbar{
		height: 100%;
		background: var(--c-s);
		width: 1px;
	}

	&tab{
		height: 400px;
		width: 800px;
		overflow: hidden;
		
		iframe{
			border: 0;
			width: 800px;
		}
	}
}