.docs--{
	&main{
		width: 100%;
		height: 100%;
		max-width: 1510px;

		padding-top: 72px;
		padding-left: 10px;

		gap: 120px;
		display: flex;
		position: absolute;
		justify-content: center;
		overflow: hidden;
	}

	&sidebar {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		
		a:hover{
			color: var(--c-d);
			transition: all 0.3s;
		}
	}

	&content {
		padding-bottom: 72px;
		overflow-y: auto;
		flex-grow: 1;
	}

	&splitbar{
		height: 100%;
		background: var(--c-s);
		width: 1px;
	}

	&tab{
		height: 400px;
		width: 800px;
		overflow: hidden;
		
		iframe{
			border: 0;
			width: 800px;
		}
	}

	&topbarMenu{
		display: none;
	}
}

@media (max-width: 960px) {
	.docs--{
		&main{
			width: 100%;
			padding-right: 10px;
		}

		&sidebar {
			padding-top: 10px;
			position: absolute;
			background: white;
			width: auto;
			left: 0;
			padding-left: 20px;
			padding-right: 20px;
			height: 100%;
			z-index: 2;
			transform: translateX(-100%);
			transition: all 0.3s;
		}

		&bgSidebar{
			position: fixed;
			background: rgba(0,0,0,0.30);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}

		&topbarMenu{
			width: 100%;
			top: 72px;
			right: 0px;
			position: absolute;
			z-index: 1;

			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 0px 16px;

			padding: 16px;
			background: white;
		}

		&content{
			padding-top: 56px;
		}

		&splitbar{
			display: none;
		}

		&code{
			width: 100%;
			overflow-x: scroll !important;
		}

		&form{
			overflow: scroll; 
			width: 100%;
		}

		&footer{
			margin-right: 0;
		}
	}
}