.index--{
	&section1{
		background-image: url('/assets/background.png');
		background-repeat: no-repeat;
		background-size:cover;
		height: 870px;
		gap:24px;
		width: 100%;
	}

	&section3{
		max-width: 1150px;
	}
}